In [1]:
import pandas as pd

In [34]:
utah_df=pd.read_csv('utah-census-1880.csv')
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [36]:
pd.set_option('display.max_columns', None)
utah_df.sample(12)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
50370,0512C_45_LONGLEY_16,0512C,45,17920,Monroe Precinct,SEVIER,260,267,LONGLEY,EDWIN,NaN,1,m,16.0,0,son,s,n,LABORER,1.0,NaN,n,n,n,n,n,n,n,n,NEW YORK,ENGLAND,NEW YORK
95817,0336B_27_EPPERSON_3,0336B,27,23296,Midway Precinct,WASATCH,117,122,EPPERSON,BOSS,NaN,1,m,3.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,IOWA,IOWA,ILLINOIS
86875,0040A_16_ACUFF_21,0040A,16,18945,Park City Precinct,SUMMIT,74,90,ACUFF,ESTER,NaN,1,f,21.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ILLINOIS,ILLINOIS
16772,0313D_28_NALDER_1,0313D,28,4096,Kaysville,DAVIS,71,74,NALDER,MARY,ETTA,1,f,1.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,UTAH,UTAH
26205,0098A_11_PEARSONS_13,0098A,11,1537,Plymouth Precinct,BOX ELDER,335,336,PEARSONS,SARAH,E,1,f,13.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,CONNECTICUT,ENGLAND
118729,0233C_34_OLSEN_6,0233C,34,21760,Santaquin Precinct,UTAH,152,154,OLSEN,OLEY,NaN,1,m,6.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NORWAY,NORWAY
137672,0487D_43_BROWN_7,0487D,43,25856,Harrisville Precinct,WEBER,38,38,BROWN,HERBERT,D,1,m,7.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,IOWA
40082,0466A_24_WILLIAMS_23,0466A,24,7680,Fillmore City and Precinct,MILLARD,149,165,WILLIAMS,ALICE,NaN,1,f,23.0,0,step daughter,s,n,SERVANT,0.0,NaN,n,n,n,n,n,n,n,y,ENGLAND,ENGLAND,ENGLAND
77752,0279B_31_LEWIS_16,0279B,31,14848,Big Cottonwood Precinct,SALT LAKE,53,53,LEWIS,ANNIE,NaN,1,f,16.0,0,daughter,s,n,AT HOME,10.0,NaN,n,n,n,n,n,n,n,n,UTAH,KENTUCKY,ENGLAND
60400,0096B_1_HERDMAN_14,0096B,1,11521,Salt Lake City 4th Ward,SALT LAKE,6,6,HERDMAN,WILLIAM,R,1,m,14.0,0,son,NaN,n,BAKER,13.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
127283,0361B_5_WINSOR_12,0361B,5,23808,St. George City and Precinct,WASHINGTON,254,259,WINSOR,MARY,J,1,f,12.0,0,daughter,NaN,n,ATTENDING SCHOOL,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,NEW YORK,NEW YORK
37619,0439D_10_NIELSON_7,0439D,10,7168,"""Northup, Rockville Precinct""",KANE,9010,10,NIELSON,JOSEPH,NaN,1,m,7.0,0,son,NaN,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,DENMARK,DENMARK

In [38]:
utah_df=utah_df.rename(columns={"birthstate":"birthplace"})
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [40]:
def replace_married(some_string):
    if some_string=='m':
        return "married"
    elif some_string=='s':
        return 'single'
    elif some_string=='w':
        return 'widowed'
replace_married('s')

'single'

In [42]:
utah_df['marrystatus']=utah_df['marrystatus'].apply(replace_married)

In [45]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,married,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,married,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,widowed,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,single,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH